
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: clamp(175px, 20%, 300px) 4fr;
    grid-template-rows: 1fr;
}

#projectSection,
#toDoSection, 
#projectContainer,
#toDoContainer {
    display: flex;
    flex-direction: column;
}

#projectSection {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    gap: 20px;
}

#toDoSection {
    border: 1px solid rgb(255, 0, 0);
}

h1 {
    text-align: center;
}

#projectHeader {
    font-size: 2rem;
    padding: 25px;
}

#toDoHeader {
    font-size: 3rem;
    padding-top: 100px;
    padding-bottom: 50px;
}

#projectContainer {
    gap: 10px;
}

#toDoContainer {
    padding: 0px clamp(75px, 20%, 150px);
}

.projectItem {
    display: flex;
    flex-direction: row;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    padding: 10px;
}

.projectItem:hover,
#active.projectItem,
#projectSection > .addItem:hover {
    background-color: rgb(165, 165, 165);
}

.projectItem:active,
#projectSection > .addItem:active {
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0) inset;
}

.projectItem > p {
    margin-right: auto;
}

.projectItem > button {
    border: none;
    height: 20px;
    width: 20px;
    opacity: 0;
    visibility: hidden;
}

.projectItem:hover > button,
#active.projectItem > button {
    opacity: 1;
    visibility: visible;
}

.projectItem > button:hover {
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0) inset;
    cursor: pointer;
}

.toDoItem {
    border: 1px solid rgb(255, 0, 0);
}

.editBtn {
    background: url(./images/square-edit-outline.svg);
}

.removeBtn {
    background: url(./images/trash-can-outline.svg);
}

.addItem {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}